#map {
    border: 1px solid black;
    width: 50vw;
    height: 50vh;


}

.formsContainer{
    width: 50vw;


}
.my-div-icon {
    background: hotpink;

}

form {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
}
form:first-of-type {
    margin-top: 0;
}
form input, form button, form select {
    width: 30%;
    margin: 0.4rem 0;
}
body {
    display: flex;

}
p, h1 {
    margin: 0;
}